@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "GeistMono";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/GeistMono-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(/fonts/Poppins-Regular.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(/fonts/Poppins-Medium.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(/fonts/Poppins-SemiBold.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(/fonts/Poppins-Bold.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 800;
  font-display: swap;
  src: url(/fonts/Poppins-ExtraBold.woff2) format("woff2");
}
@font-face {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 900;
  font-display: swap;
  src: url(/fonts/Poppins-Black.woff2) format("woff2");
}

:root {
  --font-poppins-sans: "Poppins", sans-serif;
  --font-geist-mono: "GeistMono", monospace;
}

@layer base {
  .light {
    --background: 0, 0%, 96%; /* neutral-100 */
    --foreground: 0, 0%, 9%; /* neutral-900 */
    --muted: 0, 0%, 64%; /* neutral-400 */
    --muted-foreground: ;
    --accent: 201, 96%, 32%; /* Sky-700 */
  }
  .dark {
    --background: 24, 10%, 10%; /* Stone-900 */
    --foreground: 20, 6%, 90%; /* Stone-200 */
    --muted: 24, 5%, 64%; /* Stone-400 */
    --muted-foreground: ;
    --accent: 25, 95%, 53%; /* Orange-500 */
  }
}

html {
  scrollbar-gutter: stable;
}

body {
  font-family: var(--font-poppins-sans);
}
