---

---

<p class="mb-8 text-sm">
  I'm a full stack web developer, game developer (as a hobby), and I enjoy creating interactive
  things that people can enjoy. Allow me to share my work and the journey it took to get there.
</p>
